<div class="row">
    <div class="col-xs-12 col-md-6">
        <h4>Input text</h4>
        <textarea rows="20" class="form-control" name="input" id="input"></textarea>
    </div>

    <div class="col-xs-12 col-md-6">
        <h4>Result</h4>
        <textarea rows="20" class="form-control" name="result" id="result"></textarea>
</div>
</div>
<br/>
<button type="button" class="btn btn-primary" id ="parseXMLButton"> Parse XML</button>
<button type="button" class="btn btn-primary" id="parseCSVButton"> Parse CSV</button>

@section Scripts {
    <script src="~/Scripts/parser.js"></script>
}